/.vs/Snake/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/Snake/CopilotIndices/17.12.38.29086/SemanticSymbols.db
/.vs/Snake/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/.vs/Snake/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/.vs/Snake/FileContentIndex/1775b433-8314-4e3e-90bf-e9b1083e7447.vsidx
/.vs/Snake/FileContentIndex/4ebfffee-fad6-4434-9e7a-3520e52a28a0.vsidx
/.vs/Snake/v17/.suo
/.vs/Snake/v17/DocumentLayout.backup.json
/.vs/Snake/v17/DocumentLayout.json
/.vs/Snake/v17/TestStore/0/000.testlog
/.vs/Snake/v17/TestStore/0/testlog.manifest
/Snake/.vs/Snake.csproj.dtbcache.json
/Snake/bin/Debug/Snake.exe
/Snake/bin/Debug/Snake.exe.config
/Snake/bin/Debug/Snake.pdb
/Snake/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Snake/obj/Debug/_IsIncrementalBuild
/Snake/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Snake/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Snake/obj/Debug/Snake.Cell.resources
/Snake/obj/Debug/Snake.csproj.AssemblyReference.cache
/Snake/obj/Debug/Snake.csproj.CoreCompileInputs.cache
/Snake/obj/Debug/Snake.csproj.FileListAbsolute.txt
/Snake/obj/Debug/Snake.csproj.GenerateResource.cache
/Snake/obj/Debug/Snake.exe
/Snake/obj/Debug/Snake.MainForm.resources
/Snake/obj/Debug/Snake.pdb
/Snake/obj/Debug/Snake.Properties.Resources.resources
